@import "compass/reset"
@import "compass/css3"

@import "mixins"
@import "type"
@import "variables"

%flourish-lines
  border-top: 1px solid $neutral
  border-bottom: 1px solid $neutral
  bottom: 0
  content: ""
  height: 2px
  left: 50%
  position: absolute
  +translateX(-50%)

%handwritten
  color: lighten($neutral, 10%)
  font-family: $handwritten-font
  font-size: 24px


*
  +box-sizing(border-box)

a
  color: $red
  text-decoration: none

body
  color: $neutral
  font-family: $slab-font
  font-weight: 400
  min-width: 320px
  overflow-x: hidden
  padding-top: 30px
  width: 100%

header
  margin-bottom: 30px
  padding: 0 15px

  @media screen and (min-width: 700px)
    +scale(1.2)

  h1
    color: $red
    font-family: $funky-font
    font-size: 64px
    margin-bottom: 10px
    padding-bottom: 10px
    position: relative
    text-align: center
    +text-shadow(2px 0 0 #fff, -2px 0 0 #fff)

    &:after
      @extend %flourish-lines
      width: 300px

    i
      border: 1px solid $neutral
      +border-radius(100%)
      color: $teal
      font: italic 24px $serif-font
      height: 64px
      +inline-block
      line-height: 58px
      margin: 0 -24px 0 -28px
      position: relative
      +rotateZ(-15deg)
      +text-shadow(none)
      top: 0px
      width: 64px
      z-index: -1

  p
    font: 400 18px $slab-font
    color: $neutral
    text-align: center
    text-transform: uppercase

.image
  position: relative
  img
    max-width: 100%

.logo
  background: url(/images/logo.png)
  background-size: cover
  bottom: 25px
  display: block
  height: 200px
  position: absolute
  right: 25px
  width: 200px

  @media screen and (max-width: 1000px)
    height: 175px
    width: 175px

  @media screen and (max-width: 800px)
    bottom: 20px
    height: 150px
    right: 20px
    width: 150px

  @media screen and (max-width: 650px)
    height: 125px
    width: 125px

  @media screen and (max-width: 500px)
    bottom: 15px
    height: 100px
    right: 15px
    width: 100px

.info
  @extend %clearfix

  .when,
  .where
    border-bottom: 1px solid $gray
    padding-top: 30px
    padding-bottom: 30px

    @media screen and (min-width: 700px)
      border-bottom: none
      float: left
      padding-bottom: 60px
      padding-top: 60px
      width: 50%

  .when
    @extend %clearfix

    @media screen and (min-width: 700px)
      border-right: 1px solid $gray
      padding-top: 57px

    p
      float: left
      font-size: 20px
      line-height: 1.3
      text-align: right
      text-transform: uppercase
      width: 53%

    b
      display: block

    .year
      color: $teal
      display: block
      font: 64px/1 $funky-font
      padding-left: 20px
      text-align: left
      width: 47%

    .time
      @extend %handwritten
      float: none
      width: 100%
      text-align: center
      text-transform: none

  .where
    text-align: center

    .location
      font-size: 24px
      text-transform: uppercase
      margin-bottom: 6px

    .address
      font-size: 19px
      margin-bottom: 14px
      text-transform: uppercase

    .details
      @extend %handwritten

.map
  display: block
  height: 200px
  width: 100%

  @media screen and (min-width: 700px)
    height: 400px

.two-up
  @media screen and (min-width: 700px)
    overflow: hidden
    position: relative
    width: 100%

    &:after
      border-right: 1px solid $gray
      content: ""
      height: 100%
      left: 50%
      min-height: 100%
      position: absolute
      top: 0


    .block
      float: left
      width: 50%

  @media screen and (max-width: 700px)
    .block:first-child
      border-bottom: 1px solid $gray


.block
  padding: 45px 15px

  @media screen and (min-width: 700px)
    padding: 60px 15px

  h2
    color: $teal
    font: 44px $funky-font
    margin-bottom: 15px
    padding-bottom: 15px
    position: relative
    text-transform: uppercase
    text-align: center

    &:after
      @extend %flourish-lines
      width: 240px

  h3
    margin-top: 30px
    margin-bottom: 5px

  a
    text-transform: uppercase

  p
    font-size: 14px
    line-height: 1.6

  .alt
    font: 18px $handwritten-font

.accomodations
  @extend %clearfix
  @media screen and (min-width: 700px)
    .location
      padding-left: 20%
      float: left
      width: 50%

      &:last-child
        padding-left: 10%

.travel,
.parking
  .content
    @media screen and (min-width: 700px)
      margin: 0 auto
      max-width: 240px

.menu
  li
    color: lighten($neutral, 25%)
    line-height: 1.4
    margin: 0 auto 1em

    @media screen and (min-width: 700px)
      max-width: 270px


    strong
      color: $neutral

.registry
  @extend %clearfix

  img
    display: block
    margin: 45px auto
    max-width: 220px
    +opacity(0.75)

  @media screen and (min-width: 700px)
    li
      float: left
      width: 50%

      &:first-child
        padding-top: 15px

footer
  background: $gray
  line-height: 1.5
  padding: 15px
  text-align: center
