---
title: Blake and Erin
---

%header
  %h1
    Erin
    %i and
    Blake
  %p Invite you to celebrate at their wedding

.image
  %img{ src: 'images/erin-blake016.jpg' }

.info
  .when
    %p.day
      %b Saturday
      %b September 27
    %p.year 2014
    %p.time Half past five in the evening

  .where
    %p.location
      %a{ href: 'http://boulderado.com/' } Hotel Boulderado
    %p.address 2115 13th St, Boulder, CO
    %p.details Ceremony, Dinner, Dancing

.map

.block.accomodations
  %h2 Accomodations

  .location
    %h3
      %a{ href: 'http://boulderado.com/' }
        Hotel Boulderado
    %p 2115 13th St, Boulder, CO
    %p (303) 442-4344
    %p Reference booking ID 15453
    %p.alt Rooms starting from $182

  .location
    %h3
      %a{ href: 'http://www.qualityinnboulder.com/'}
        Quality Inn Boulder Creek
    %p 2020 Arapahoe Ave., Boulder, CO
    %p (888) 449-7550
    %p Reference the Kane Walters wedding
    %p.alt Rooms starting from $118

.image
  %img{ src: 'images/erin-blake070.jpg' }

.block.alt.travel
  %h2 Transportation

  %h3
    %a{ href: 'http://greenrideboulder.com/' }
      Green Ride Boulder
  %p Direct service from DIA to Boulder Hotels

  %h3
    %a{ href: 'https://www.supershuttle.com/' }
      SuperShuttle
  %p Direct service from DIA to Boulder Hotels

.image
  %img{ src: 'images/erin-blake030.jpg' }

.block.registry
  %h2 Registry

  %ul
    %li
      %a{ href: 'http://www.crateandbarrel.com/' }
        %img{ src: 'images/crate-barrel-logo.jpg' }
    %li
      %a{ href: 'http://www.bedbathandbeyond.com/' }
        %img{ src: 'images/bed-bath-and-beyond-logo.png' }

%footer
  %p
    Questions? Send an email to
    %a{ href: "mailto:wedding@blakeanderin.com" } wedding@blakeanderin.com

