---
title: Blake and Erin
---

%a.banner{ href: 'https://www.amazon.com/baby-reg/blake-walters-erin-walters-december-2017-longmont/1IL04X46YHB19' }
  = inline_svg 'baby'
  %span
    Looking for the baby registry? Click here!
  = inline_svg 'balloons'

%header
  :markdown
    # Erin <i>and</i> Blake

    Thank you for celebrating their wedding

.image
  %span.logo
  %img{ src: 'images/erin-blake016.jpg' }

.info
  .when
    %p.day
      %b Saturday
      %b September 27
    %p.year 2014
    %p.time Half past five in the evening

  .where
    %p.location
      %a{ href: 'http://boulderado.com/' } Hotel Boulderado
    %p.address 2115 13th St, Boulder, CO
    %p.details Ceremony, Dinner, Dancing

.map

.block.accomodations
  %h2 Accomodations

  .location
    :markdown
      ###[Hotel Boulderado](http://boulderado.com/)

      2115 13th St, Boulder, CO

      (303) 442-4344

      Reference booking ID 15453

    %p.alt Rooms starting from $182

  .location
    :markdown
      ###[Quality Inn Boulder Creek](http://www.qualityinnboulder.com/)

      2020 Arapahoe Ave., Boulder, CO

      (888) 449-7550

      Reference the Kane Walters wedding

    %p.alt Rooms starting from $118

.image
  %img{ src: 'images/erin-blake070.jpg' }

.two-up
  .block.menu
    :markdown
      ## Dinner Menu

      * __Tenderloin of beef__ with green peppercorn sauce
      * __Seared Colorado striped bass__ with braised swiss chard and chive beurre blanc
      * __Seasonal fresh vegetable tartlet__ with haystack mountain goat cheese

  .block.registry
    %h2 Registry

    %p
      %a{ href: 'http://www.crateandbarrel.com/' }
        %img{ src: 'images/crate-barrel-logo.jpg' }
    %p
      %a{ href: 'http://www.bedbathandbeyond.com/' }
        %img{ src: 'images/bed-bath-and-beyond-logo.png' }

.image
  %img{ src: 'images/erin-blake030.jpg' }


.two-up
  .block.alt.travel
    %h2 Transportation

    .content
      :markdown
        ###[Green Ride Boulder](http://greenrideboulder.com/)

        Direct service from DIA to Boulder Hotels

        ###[SuperShuttle](https://www.supershuttle.com/)

        Direct service from DIA to Boulder Hotels

  .block.parking
    %h2 Parking

    .content
      :markdown
        ###[Hotel Boulderado Valet](http://boulderado.com/guest-services/transportation-parking/)

        On-site valet parking is available for $10/night

        ###[City of Boulder](https://www.google.com/maps/place/11th+and+Spruce+Parking+Garage/@40.018753,-105.280794,19z/data=!3m1!4b1!4m2!3m1!1s0x876bec27a9f07dd1:0xe561e118a6b26c3d)

        Nearby garage at 11th and Spruce offers free parking on Saturday and Sunday


%footer
  :markdown
    Questions? Send an email to
    [wedding@blakeanderin.com](mailto:wedding@blakeanderin.com)
